[submodule "comp3151-ass1"]
	path = comp3151-ass1
	url = git@github.com:dennuguyen/comp3151-ass1.git
[submodule "comp3151-ass0"]
	path = comp3151-ass0
	url = git@github.com:dennuguyen/comp3151-ass0.git
